
thead{      
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
tr{
    font-size: medium;
    padding: 2px;
    vertical-align: middle !important;
} 

.own{
  height: 100px;
  background-color:white!important;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.own2{
  margin-top: 100px;
  background-color:#2196F3 !important;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.listname{
    color: grey;
}

sub{
  color: grey;
}

.cmain{
  margin-top: 179px;
}

nav a{
  color:white;
}

.thead-council{
  background-color:#0277BD;
  color: white;
}

.own3{
  width: 30%;
}

.own5{
  background-color:#FAFAFA;
}
